<mat-card>
   <mat-card-title>Alterar Produto</mat-card-title>
   <form [formGroup]="iProductForm">
      <mat-form-field>
         <input matInput type="text" placeholder="Nome" name="name" [(ngModel)]="iProduct.name" formControlName="name" required>
         <mat-error *ngIf="iProductForm.invalid"> Campo obrigatório </mat-error>
      </mat-form-field>
      <mat-form-field>
         <input matInput type='text' prefix="R$" mask="separator.2" thousandSeparator="." placeholder="Preço (R$)" name="price" [(ngModel)]="iProduct.price" formControlName="price" required>
         <mat-error *ngIf="iProductForm.invalid"> Campo obrigatório </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!iProductForm.valid" (click)="updateProduct()" color="primary"> Salvar </button>
      <button mat-raised-button (click)="cancel()" color="warn"> Cancelar </button>
   </form>
</mat-card>
