<app-loading></app-loading>
<div class="button-navigate">
  <button mat-raised-button (click)="navigateToProductCreate()" color="primary">
    Novo Produto
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="iProducts">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome do Produto</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let row">{{row.price | currency: 'BRL' }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button (click)="editProduto(row.id)">
          <i class="material-icons edit"> edit </i>
        </button>
        <button (click)="removerProduto(row.id)">
          <i class="material-icons delete"> delete </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="iDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: iDisplayedColumns;"></tr>
  </table>
</div>
