table {
    width: 100%;
  }

  i.delete {
      padding-left: 1rem;
      color: #ff0000;
  }

  i.edit {
      color: #7c7ceb;
  }

  button {
      background-color: #fff;
      border: none;
  }

  .material-icons {
    cursor: pointer;
  }

  .button-navigate {
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
  }
